<a href="https://colab.research.google.com/github/alishia-s/THE-drawing-app/blob/main/HYRAX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("FY2021.csv")

# drop empty JOB_TITLE
df['JOB_TITLE'].replace(" ", np.nan, inplace=True)
df.dropna(subset=['JOB_TITLE'], inplace=True)
df = df[df["FIRST_DECISION"] == "Approved"]
df.head()

<ipython-input-31-ad0829b20da4>:1: DtypeWarning: Columns (4,7,14,16,25,29,38,39,40,41,44,46,50,51,52,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("FY2021.csv")

NameError: name 'np' is not defined

In [ ]:
#getting unique employer data
# Select only the required columns
selected_columns = ["employer_name", "FEIN", "PET_STREET", "PET_CITY", "PET_STATE", "PET_ZIP"]

# Create a new DataFrame with unique rows
df_unique = df[selected_columns].drop_duplicates( keep="first")
df_unique.to_csv("FY2021_Employers.csv")

In [ ]:
def get_NAICS(df):
  result = {
    "employer_name": [],
    "NAICS": [] }
  for row in df_unique.itertuples(index=False):
    result["employer_name"].append(row.employer_name)
    result["NAICS"].append(None)
  return result

In [ ]:
updated_values = get_NAICS(df_unique)

df_updated = pd.DataFrame.from_dict(updated_values)
df_updated